<% content_for :title do %>
  Projects
<% end %>

<table class="table table-striped table-bordered">
  <tr>
    <th>Project</th>
    <th>Target</th>
    <th>Type</th>
  </tr>

  <%= render @xcode_projects %>

</table>

<%= link_to [:new, :build_rule], :class => 'btn btn-success btn-large' do %>
  <i class="icon-plus"></i> New build rule
<% end %>
