<% content_for :title do %>
  Results
<% end %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Project</th>
      <th>Target</th>
      <th>Tag</th>
      <th>Rule</th>
      <th>State</th>
      <th>Files</th>
    </tr>
  </thead>
  <tbody>
    <%= render @build_tasks %>
  </tbody>
</table>
