<% content_for :title do %>
  Repositories
<% end %>

<p>Tracked repositories will be scanned for Xcode Projects, braches, tags, native targets, build configurations, and all kindsa fun stuff. <strong>We will not write to the repository</strong>, only setup a post-commit hook <em>if you have the permissions to allow us</em>.</p>
<p>Manual builds can be fired off from the <%= link_to 'projects page', :xcode_projects %>, for an automatic build just push a tag.</p>

<table class="table table-striped table-bordered">

  <tr>
    <th>Full name</th>
    <th>Automatic builds</th>
    <th colspan="2"></th>
  </tr>
<% if  @repositories.any? %>
  <%= render @repositories %>
<% else %>
  <tr>
    <td colspan="4">You don't have any repositories tracked yet! Track one by clicking below.</td>
  </tr>
<% end %>

</table>

<%= link_to new_repository_path, :class => 'btn btn-success btn-large' do %>
  <i class="icon-plus"></i> Track a new repository
<% end %>
